Repository rencire/ts-web-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json 'src/**/*.ts' --fix, jest -c .jestrc.json --bail --findRelatedTests

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "tslint -c tslint.json 'src/**/*.ts' --fix",
    "git add",
    "jest -c .jestrc.json --bail --findRelatedTests"
  ],
  "*.{json,css,md}": ["prettier --write", "git add"]
}

Update
  package.json
Due: prettier --write

added stylelint
  .lintstagedrc.json
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  src/app.css
Due: prettier --write

moar changes
  .lintstagedrc.json
  README.md
  package-lock.json
  package.json
  src/app.css
  webpack.config.js
Due: prettier --write

Readme
  README.md
Due: prettier --write

Updated webpack-dev-server
  package-lock.json
  package.json
Due: prettier --write

Disable conflicting lint rules
  package-lock.json
  package.json
  tslint.json
Due: prettier --write

webpack changes. Now serving main.js bundle in module script tag, with fallback.js targeting rest of browsers
  .gitignore
  .postcssrc.json
  README.md
  babel.config.js
  dist/fallback.js
  dist/index.html
  package-lock.json
  package.json
  src/app.ts
  src/declaration.d.ts
  tsconfig.json
  webpack.config.common.js
  webpack.config.development.js
  webpack.config.fallback.js
  webpack.config.js
  webpack.config.production.js
Due: prettier --write, tslint -c tslint.json 'src/**/*.ts' --fix, jest -c .jestrc.json --bail --findRelatedTests

Add common plugins to dev
  webpack.config.common.js
  webpack.config.development.js
Due: none

Removed extraneous slice calls. Lose out on consistency, but improve readability
  webpack.config.fallback.js
Due: none

tried simplying config obj
  webpack.config.fallback.js
Due: none

Switched to supported `.babelrc.js` file
  .babelrc.js
  webpack.config.fallback.js
Due: none

removed python version
  .python-version
Due: none

Added script aliases. Renamed config
  package.json
  webpack.config.production.fallback.js
  webpack.config.production.js
Due: prettier --write

Changed husky config file
  husky.config.js
  src/declaration.d.ts
Due: prettier --write, tslint -c tslint.json 'src/**/*.ts' --fix, jest -c .jestrc.json --bail --findRelatedTests

changed lint-staged config filename
  lint-staged.config.js
Due: none

Changed jest config file
  jest.config.js
  package.json
Due: prettier --write

stylelint config file name change
  .stylelintrc.json
  jest.config.js
  stylelint.config.js
Due: prettier --write

changed postccs file format
  .postcssrc.json
  postcss.config.js
Due: prettier --write

Added some docs
  .babelrc.js
  .gitignore
  README.md
  dist/fallback.js
  lint-staged.config.js
  package-lock.json
  package.json
  src/app.ts
  webpack.config.common.js
  webpack.config.development.js
Due: prettier --write, tslint -c tslint.json 'src/**/*.ts' --fix, jest -c .jestrc.json --bail --findRelatedTests

modified husky rc
  husky.config.js
Due: none

Created default webpack config file
  dist/fallback.js
  package.json
  webpack.config.js
Due: prettier --write

Comment
  webpack.config.development.js
Due: none

Added more docs
  .babelrc.js
  webpack.config.production.fallback.js
Due: none

added docs for dependencies
  README.md
  src/app.ts
Due: prettier --write, tslint -c tslint.json 'src/**/*.ts' --fix, jest -c .jestrc.json --bail --findRelatedTests

doc changes
  README.md
Due: prettier --write

doc
  README.md
Due: prettier --write

node module resolution
  tsconfig.json
Due: prettier --write
